<h2 style="text-align: center"> {{story.name}} </h2>
<h3  style="text-align: center"> {{story.theme}} </h3>

<div style="margin: 80px">
  <mat-tab-group style="height: 300px;border-width: 2px;border-style: solid;border-color: darkgrey">
    <div *ngIf="children.length === 5">
      <mat-tab *ngFor="let child of children,let index = index" label="Proposition {{index + 1}}" style="height: 300px">
        <div [innerHTML]="child.text"></div>
      </mat-tab>
    </div>
    <div *ngIf="children.length < 5">
      <mat-tab label="Début de l'histoire" style="height: 300px">
        L'histoire n'a pas encore commencé, vous pouvez faire une proposition de départ !
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
